.toolbar_wrapper{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.toolbar_leftside{
    display: flex;
    align-items: center;
    gap: 10px;
}

.toolbar_title{
    font-size: 20px;
    font-weight: bold;
    color: #253550;
    flex: 1;
    margin: 0;
}