.stroke_width_wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.stroke_width_wrapper input{
    width: 100px;
}

.stroke_width_wrapper span{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.stroke_width_wrapper .stroke_width_label{
    width: 100px;
}
.stroke_width_wrapper .stroke_width_value{
    width: 40px;
    text-align: right;
}