.history_list{
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
}

.history_items{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.history_item{
    padding: 8px;
    background-color: #f5f5f5;
    cursor: pointer;
}
.history_item:hover{
    background-color: #e0e0e0;
}