#Canvas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#Canvas h3{
    background-color: rgb(220, 220, 220);
    padding: 15px 15px 0;
    margin: 0;
    box-sizing: border-box;
}
.canvas_wrapper{
    display: flex;
    padding: 15px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    box-sizing: border-box;
}