.color_picker{
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="color"]{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

input[type="color"]:hover{
    border-color: #aaa;
}